body {
  margin: 0;
  font-family: sans-serif;
}

.pagina-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cbd5e1;
}

.contenedor-login {
  background-color: #e2e8f0;
  width: 90%;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.icono-principal {
  width: 80px;
  margin-bottom: 10px;
}

.titulo-login {
  font-size: 32px;
  color: #2d3139;
  margin-bottom: 25px;
}

.formulario-login {
  width: 100%;
}

.grupo-entrada {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
}

.grupo-entrada label {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 5px;
}

.grupo-entrada input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #a0aec0;
  background-color: #cbd5e1;
  color: #000000;
}

.boton-login {
  width: 100%;
  padding: 12px;
  background-color: #99f6e4;
  border: 1px solid #5eead4;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.seccion-login-social {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-social {
  font-size: 13px;
  color: #64748b;
  margin-bottom: 15px;
}

.iconos-sociales {
  display: flex;
  gap: 15px;
}


.boton-icono-social {
  width: 60px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #a0aec0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  text-decoration: none; 
  box-shadow: none; 
}

.boton-icono-social img {
  width: 24px;
  height: auto;
  display: block;
}

.seccion-registro {
  margin-top: 25px;
  border-top: 1px solid #cbd5e1;
  width: 100%;
  padding-top: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.seccion-registro p {
  margin: 0;
  text-align: center;
}

.seccion-registro a {
  color: #10b981;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}